{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Table 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'donortable/css/style.css' %}">

	</head>
	<body>
	<form method="POST" action="{% url 'blood_details'%}?">{% csrf_token %}
	<section class="ftco-section">

			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4">Details of Blood Donors</h4>
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>First Name</th>
					        <th>Age</th>
					        <th>Blood Type</th>
					        <th>Date of Birth</th>
					        <th>Gender</th>
					        <th>District</th>
					        <th>Weight</th>
					        <th>Diabetic</th>
					        <th>HIV</th>
					        <th>Medicine Name</th>
					        <th>Surgery Name</th>
					        <th>Surgery Name</th>
					        <th>Donated Previous Date</th>
					        <th>Select</th>



					      </tr>
					    </thead>
					    <tbody>
						{% for x in register %}
					      <tr>
					        <th scope="row" class="scope" >{{x.First_Name}}</th>
					        <td>{{x.Age}}</td>
					        <td>{{x.Blood_Type}}</td>
					        <td>{{x.Date_Of_Birth}}</td>
					        <td>{{x.Gender}}</td>
					        <td>{{x.District}}</td>
 						  	<td>{{x.Weight}}</td>
					        <td>{{x.Diabetic}}</td>
					        <td>{{x.HIV}}</td>
					        <td>{{x.Medicine_Name}}</td>
					        <td>{{x.Disease_Name}}</td>
					        <td>{{x.Surgery_Name}}</td>
					        <td>{{x.Donated_Date}}</td>
							  <td>
								  <button  type="submit" name="action" value="accept">Accept</button>
								  <br>
								  <button  type="submit" name="action" value="reject">Reject</button>
							  </td>

					      </tr>
{%endfor%}
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>
	</form>
	<script src="{% static 'donortable/js/jquery.min.js' %}"></script>
  <script src="{% static 'donortable/js/popper.js' %}"></script>
  <script src="{% static 'donortable/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'donortable/js/main.js' %}"></script>

	</body>
</html>

