<!DOCTYPE html>
<html lang="en">
<style>
    body{
                font-family: Arial, Helvetica, sans-serif;
                background-color: white;
            }
    label{
                font-size: 30px;
            }
            form{
                border: 5px solid #f1f1f1;
            }
            .container{
                padding: 50px;
                background-color: white;
            }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<form>
        <header class="w3-display-container w3-content w3-center" style="max-width:1500px">
        <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">


        </div>
        </header>


<div id="signup" class="w3-container w3-red">
  <h2>REGISTRATION</h2>
    <a href="/signup" class="w3-bar-item w3-button">sign up</a>

</div>

<div id="login" class="w3-container w3-green">
  <h2>SIGN IN</h2>
  <a href="/login" class="w3-bar-item w3-button">login</a>
</div>


</form>
</body>
</html>