{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Table 03</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="{% static 'donortable/css/style.css' %}">

	</head>
	<body>
	<form method="get"S>{% csrf_token %}
	<section class="ftco-section">

			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center mb-4">Details of Blood Donors</h4>
					<div class="table-wrap">
						<table class="table">
					    <thead class="thead-primary">
					      <tr>
					        <th>Hospital Name</th>
					        <th>District</th>
					        <th>Blood Type</th>



					      </tr>
					    </thead>
					    <tbody>
						{% for x in donors %}
					      <tr>

					        <td>{{x.Hospital_Name}}</td>
					        <td>{{x.District}}</td>
					        <td>{{x.Blood_Type}}</td>

					      </tr>
						{%endfor%}
					    </tbody>
					  </table>
					</div>
				</div>
			</div>
		</div>
	</section>
	</form>
	<script src="{% static 'donortable/js/jquery.min.js' %}"></script>
  <script src="{% static 'donortable/js/popper.js' %}"></script>
  <script src="{% static 'donortable/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'donortable/js/main.js' %}"></script>

	</body>
</html>
